database:
  dsn: "dbi:Oracle:host=192.168.60.10;sid=dictybase"
  user: DPUR_CHADO
  pass: DPUR_CHADO
  opt:  LongTruncOk 

#which module to load at runtime which does the url mapping
#currently a Moose role
module: 
  #optional otherwise Resolver::Map will be assumed
  #namespace:
  name: MultiGenome

#Any specific type for SO type 
#prepend species name is global
#direct overrides that
resolve:
 types: 
    - gene
    - polypeptide
    - est
    - chromosome
    - mrna
    - rrna
    - trna
 prepend: species
 type:
  est:
   noprefix: 1
   nospecies: 1
  chromosome:
   noprefix: 1
  polypeptide:
   prefix: protein
  mrna:
   prefix: feature
  rrna:
   prefix: feature
  trna:
   prefix: feature

